In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
df_imp = pd.read_csv('imp_dic_2019.txt', sep="|");
df_acc_2019 = pd.read_csv('hechos_2019.csv')
df_acc_2015 = pd.read_csv('hechos_2015.csv');

In [27]:
df_imp.dtypes

Pais de Proveniencia     object
Aduana de Ingreso        object
 Fecha de la Poliza       int64
Partida Arancelaria       int64
Modelo del Vehiculo      object
Marca                    object
Linea                     int64
Centimetros Cubicos      object
Distintivo               object
Tipo de Vehiculo         object
Tipo de Importador       object
Tipo Combustible          int64
Asientos                  int64
Puertas                 float64
Tonelaje                float64
Valor CIF               float64
Impuesto                float64
dtype: object

In [28]:
df_acc_2019.dtypes

núm_corre       int64
año_ocu         int64
día_ocu         int64
hora_ocu        int64
g_hora          int64
g_hora_5        int64
mes_ocu         int64
día_sem_ocu     int64
depto_ocu       int64
mupio_ocu       int64
zona_ocu        int64
tipo_veh        int64
marca_veh       int64
color_veh       int64
modelo_veh      int64
g_modelo_veh    int64
tipo_eve        int64
dtype: object

In [29]:
df_imp.head(5)

,Pais de Proveniencia,Aduana de Ingreso,Fecha de la Poliza,Partida Arancelaria,Modelo del Vehiculo,Marca,Linea,Centimetros Cubicos,Distintivo,Tipo de Vehiculo,Tipo de Importador,Tipo Combustible,Asientos,Puertas,Tonelaje,Valor CIF,Impuesto
ESTADOS UNIDOS,EL CARMEN,23/12/2019,8703236900,2006,TOYOTA,COROLLA S,1800,LIVIANO,AUTOMOVIL,OCASIONAL,GASOLINA,5,4,0.0,18790.93,2254.91,NaN
JAPON,"G8, CENTRALSA",23/12/2019,8703236900,2013,MAZDA,MAZDA3 I GRAND TOURING,2000,LIVIANO,AUTOMOVIL,OCASIONAL,GASOLINA,5,4,0.0,17158.27,2058.99,NaN
CANADA,EL CARMEN,23/12/2019,8703237900,2016,TOYOTA,RAV4 XLE FWD,2500,LIVIANO,CAMIONETA,OCASIONAL,GASOLINA,5,4,0.0,67986.19,8158.34,NaN
ESTADOS UNIDOS,EL CARMEN,23/12/2019,8703248000,2006,TOYOTA,SIENNA LE,3300,LIVIANO,MICROBUS,OCASIONAL,GASOLINA,7,4,0.0,45328.11,5439.37,NaN
ESTADOS UNIDOS,SANTO TOMAS DE CASTILLA,23/12/2019,8703237900,2010,HONDA,ELEMENT EX 4WD,2400,LIVIANO,CAMIONETA,OCASIONAL,GASOLINA,4,4,0.0,9680.41,1161.65,NaN

In [30]:
df_acc_2019.head(5)

,núm_corre,año_ocu,día_ocu,hora_ocu,g_hora,g_hora_5,mes_ocu,día_sem_ocu,depto_ocu,mupio_ocu,zona_ocu,tipo_veh,marca_veh,color_veh,modelo_veh,g_modelo_veh,tipo_eve
0,1,2019,1,5,1,1,1,2,1,101,3,4,64,5,2018,5,6
1,2,2019,1,21,4,3,1,2,1,101,1,2,90,14,9999,99,1
2,3,2019,1,7,2,1,1,2,1,101,18,1,41,8,2019,5,1
3,4,2019,1,11,2,1,1,2,1,102,99,1,69,5,2007,4,1
4,5,2019,1,8,2,1,1,2,1,101,7,4,27,1,9999,99,6

In [33]:
df_imp['Distintivo'].unique()

array(['AUTOMOVIL', 'CAMIONETA', 'MICROBUS', 'CUATRIMOTO', 'PICK UP',
       'MOTO', 'CAMION VOLTEO', 'CABEZAL', 'CAMION', 'VEHICULO RUSTICO',
       'CAMION FURGON', 'TRACTOR', 'CAMIONETILLA', 'PLATAFORMA', 'BUS',
       'FURGON', 'JEEP', 'CAMION GRUA', 'TACUASINA', 'RETROEXCAVADORA',
       'PORTA CONTENEDOR', 'MINIBUS', 'CAMION CISTERNA', 'SCOOTER',
       'LOW BOY', 'PANEL', 'GO-KART', 'CARRO PARA GOLF', 'AUTOBUS',
       'CISTERNA', 'REMOLQUE', 'GONDOLA', 'TRIMOTO', 'CAMIONETA SPORT',
       'CAMION CHASIS', 'TRACTOR AGRICOLA', 'CAMIONETA AGRICOLA',
       'TANQUE', 'CARGADOR', 'CASA RODANTE', 'GRUA', 'CHASSIS',
       'AMBULANCIA', 'CAMION BOMBEROS', 'CAMION PERFORADO', 'LIMOSINA',
       'CAMION MEZCLADOR'], dtype=object)

In [31]:
df_motos = df_imp.where(df_imp['Distintivo'] == 'MOTO')
df_motos.head(5)

,Pais de Proveniencia,Aduana de Ingreso,Fecha de la Poliza,Partida Arancelaria,Modelo del Vehiculo,Marca,Linea,Centimetros Cubicos,Distintivo,Tipo de Vehiculo,Tipo de Importador,Tipo Combustible,Asientos,Puertas,Tonelaje,Valor CIF,Impuesto
ESTADOS UNIDOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JAPON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CANADA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ESTADOS UNIDOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ESTADOS UNIDOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
acc_list = [df_acc_2015, df_acc_2019]
df_acc = pd.concat(acc_list)
df_acc = df_acc.where(df_acc['tipo_veh'] == 4)
df_acc.count()

núm_corre            4346
año_ocu              4346
mes_ocu              4346
día_ocu              4346
día_sem_ocu          4346
hora_ocu             4346
g_hora               4346
g_hora_5             4346
depto_ocu            4346
mupio_ocu            4346
área_geo_ocu         2241
zona_ocu             4346
sexo_per             2241
edad_per             2241
mayor_menor          2241
g_edad_80ymás        2241
g_edad_60ymás        2241
edad_quinquenales    2241
estado_con           2241
tipo_veh             4346
marca_veh            4346
color_veh            4346
modelo_veh           4346
g_modelo_veh         4346
tipo_eve             4346
dtype: int64